<div class="admin-content-wrap row">
    <div class="main-content col-lg-9">
        <form>
            {% include 'common/pagination.twig' %}
            <table class="table">
                <thead data-ca-bulkedit-default-object="true">
                    <tr>
                        <th width="6%" class="left mobile-hide">
                            <input type="checkbox"
                                class="bulkedit-toggler hide"
                                data-ca-bulkedit-toggler="true"
                                data-ca-bulkedit-disable="[data-ca-bulkedit-default-object=true]" 
                                data-ca-bulkedit-enable="[data-ca-bulkedit-expanded-object=true]"
                            />
                        </th>
                        <th width="15%"><a class="cm-ajax" href="" data-ca-target-id={$rev}>ID</a></th>
                        <th width="15%"><a class="cm-ajax" href="" data-ca-target-id={$rev}>Status</a></th>
                        <th width="15%"><a class="cm-ajax" href="" data-ca-target-id={$rev}>Date</a></th>
                        <th width="17%"><a class="cm-ajax" href="" data-ca-target-id={$rev}>Customer</a></th>
                        <th width="14%"><a class="cm-ajax" href="" data-ca-target-id={$rev}>Phone</a></th>
                        <th class="mobile-hide">&nbsp;</th>
                        <th width="10%" class="right"><a class="cm-ajax" href="" data-ca-target-id="total"</a>Total</th>
                    </tr>
                </thead>
                {% for order in orders %}
                <tr>
                    <td class="left mobile-hide">
                    <input type="checkbox" name="order_ids[]" value="" class="cm-item cm-item-status" /></td>
                    <td data-th="id">
                        <a href="http://localhost/yiicscart/backend/web/index.php/orders/view?id={{ order.order_id }}">Order {{ order.order_id }}</a>
                    </td>
                    <td data-th="status">
                {% include 'common/select_popup.twig' %}</td>
                    <td class="nowrap" data-th="date">{{ order.timestamp|date('d/m/Y, H:i') }}</td>
                    <td data-th="customer">
                        {% if order.email %}<a href="mailto:{{ o.email }}">@</a> {% endif %} 
                        {% if order.user_id %}<a href="profiles.update">{% endif %} {{ order.firstname }} {{ order.lastname }}{% if order.user_id %}</a>{% endif %}</td>
                    <td data-th="phone"><bdi>{% if order.phone %}<a href="tel">{{ order.phone }}</a></bdi>{% endif %}</td>
                    <td width="5%"></td>
                    <td class="right" data-th="total">{{ order.total }}</td>
                </tr>
                {% endfor %}
            </table>
            {% include 'common/pagination.twig' %}
        </form>
    </div>
    <div class="sidebar col-lg-2">
        {% include 'common/saved_search.twig' %}
        {% include 'components/orders_search_form.twig' %}
    </div>
</div>